@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace ,Arial, Helvetica, sans-serif;
}

@theme {
  --color-darkblack: #1a1a1a;

  --font-merri: "Merriweather", serif;
  --font-geist: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-opensans: "Open Sans", sans-serif;
}

.center-div{
  @apply pt-25 space-y-3 flex flex-col items-center justify-center;
}

.brief-section-mobile{
  @apply relative px-12
}

.brief-section-desktop{
  @apply relative px-17
}

.rounded-border-label{
  @apply border rounded-2xl px-2 py-0.5 text-xl max-w-fit
}

.link-label{
  @apply text-blue-300 hover:underline
}

.image-description-mobile{
  @apply flex space-x-10 pt-10
}

.image-description-desktop{
  @apply flex space-x-40 pt-10 pl-30
}